*{
    font-family: 'Open Sans', sans-serif;
}
.navbar{
    width: 100%;
    height: 80px;
    margin: -7px;
    background-color: brown;
    color: white;
    display: flex;
}
.navHeading{
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 12px;
    padding-left: 10px;
}
.navLists{
    display: flex;
    padding-top: 10px;
    margin-left: 60%;
}
.navLists >li > a{
    margin-right: 40px;
    text-decoration: none;
    color: white;
}
/*
body{
    background-image: url();
}*/
