*{
    font-family: 'Open Sans', sans-serif;
}
.mainHeading{
    text-align: center;
}
#container{
    width: 80%;
    height: 500px;
    margin: auto;
    border: 1px solid black;
    overflow: scroll;
}
.countDIv{
    width: 20%;
    height: 70px;
    margin-left: 80%;
    margin-bottom: 20px;
}
.cartButton{
    text-decoration: none;
    color: white;
}